@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #212529;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 10px;
    flex-wrap: wrap;
    text-decoration: none;
}

.navbar h2 {
    color: #ffb742;
    font-weight: 600;
    flex-shrink: 0;
    display:flex;
}

.navbar h2 a {
    color: #fff;
    font-weight: 600;
    flex-shrink: 0;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
}

.navbar h2 a:hover {
    color: #ffb742;
}

.navbar ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    list-style: none;
    margin-right: 10px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar ul li a img {
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.navbar ul li a:hover {
    color: #ffb742;
}

.navbar .hire-btn {
    background-color: #ffb742;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    text-decoration: none;
}

.navbar .hire-btn:hover {
    background-color: #e69a30;
    text-decoration: none;
}

.hire-btn {
    background: #ffb742;
    padding: 6px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.hire-btn:hover {
    background: #fb8c00;
    text-decoration: none;
}

.main {
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.main h4 {
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 150px;
}

.main h4 span {
    color: #ffb742;
    text-decoration: underline;
}

.main p.title {
    font-size: 44px;
    font-weight: 600;
    color: #fff;
    margin-top: 8px;
}

.main p.subtitle {
    font-size: 16px;
    color: #ccc;
    margin-top: 20px;
}

.main img {
    width: 200px;
    height: 200px;
    margin-top: 100px;
}


.separator {
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.08);
    display: inline-block;
    color: #ffb742;
    border-radius: 12px;
}

/* Scroll indicator */
.scroll-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: #ffb742;
    cursor: pointer;
    animation: bounce 2s infinite;
}

.scroll-icon p {
    margin-top: 5px;
    font-size: 16px;
    color: #666;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

html {
    scroll-behavior: smooth;
}

/* About Section */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    gap: 100px;
    padding: 0 50px;
    padding-top: 350px;
}

.about img {
    width: 280px;
    border-radius: 6px;
}

.about .info h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .info p {
    color: #ccc;
    font-size: 14px;
}

.about .info button {
    margin-top: 30px;
}

/* Carousel Section */
.projects-carousel {
    position: relative;
    width: 100%;
    max-width: auto;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

/* Carousel Items */
.carousel-item {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.carousel-item.active {
    display: flex;
}

.project-image {
    max-width: 100%;
    height: 500px;
    width: auto;
    margin-bottom: 20px;
}

a:hover .project-image {
    opacity: 0.8;
}

.carousel-item h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #fff;
}

.carousel-item p {
    font-size: 16px;
    color: #fff;
}


.prev-arrow, .next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffb742;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 6px;
}

.prev-arrow {
    left: 10px;
}

.next-arrow {
    right: 10px;
}

.prev-arrow:hover, .next-arrow:hover {
    background-color: #e69a30;
}


.skills {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}

.skills .left {
    width: 680px;
}

.skills .left .info h3 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
}

.skills .left .info p {
    color: #ccc;
    font-size: 14px;
}

.skills .right {
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills .right .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.skills .right .item i {
    font-size: 34px;
    color: #fff;
}


footer {
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .start {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: #ffb742;
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -16%;
    left: 15%;
}

footer .start p {
    font-size: 13px;
    width: 35%;
}

footer .start button {
    background: transparent;
    border: 1px solid #000;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 100px;
    transition: all 0.3s ease;
}

footer .start button:hover {
    background-color: #fff;
    border-color: #fff;
}

footer .cols {
    display: flex;
    align-items: start;
}

footer .cols .about-col {
    flex: 3;
}

footer .cols .about-col h3 {
    color: #ffb742;
    margin-bottom: 20px;
}

footer .cols .about-col p {
    color: #ccc;
    font-size: 13px;
}

footer .cols .links-col {
    flex: 3;
}

footer .cols .links-col h4, footer .cols .news-col h4 {
    color: #fff;
    margin-bottom: 20px;
}

footer .cols .links-col a {
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover {
    color: #ffb742;
}

/* Experience Section */
.experience-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
}

.experience-item {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.company-title h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: #ffb742;
}

.company-title p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #fff;
}

.year {
    font-size: 18px;
    color: #ffb742;
}

.description p {
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
    .experience-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .year {
        margin-top: 10px;
        align-self: flex-end;
    }
}

/* Media Queries for Smaller Screens */
@media screen and (max-width: 1100px) {
  
    .skills {
        justify-content: space-between;
        gap: 20px;
    }

    .skills .left {
        width: 500px;
    }

    footer {
        margin-top: 150px;
    }

    footer .start {
        width: 90%;
        left: 5%;
        top: -20%;
    }

    footer .cols {
        flex-wrap: wrap;
    }

    footer .cols .about-col {
        flex-basis: 50%;
    }

    footer .cols .links-col {
        flex-basis: 50%;
    }

    footer .cols .news-col {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 780px) {
    .navbar button {
        display: none;
    }

    .main h4 {
        font-size: 24px;
    }

    .main p.title {
        font-size: 36px;
    }

    .main p.subtitle {
        font-size: 14px;
    }

    .about {
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 6px;
    }
}

@media screen and (max-width: 650px) {
    .navbar {
        justify-content: center;
        gap: 20px;
    }

    .about {
        margin-top: 20px;
    }
    }

    .navbar ul li a {
        font-size: 14px;
    }

    .main {
        margin-top: 100px;
        height: 320px;
        justify-content: start;
    }

    .main h4 {
        font-size: 20px;
    }

    .main p.title {
        font-size: 28px;
    }

    .main p.subtitle {
        font-size: 12px;
    }

    .main img {
        margin-top: 40px;
        width: 150px;
        height: 150px;
    }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        gap: 20px;
    }

    .skills .left {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .skills .left .info {
        text-align: center;
    }

    .skills .left .info h3 {
        color: #fff;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .skills .left .info p {
        color: #ccc;
        font-size: 14px;
    }

    .skills .left button {
        margin-top: 30px;
    }

    .skills .skills-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
    }

    .skills .skills-column {
        flex: 1;
        min-width: 150px;
    }

    .skills .skills-column p {
        margin: 0;
        padding: 5px 0;
        color: #fff;
        text-align: center;
    }

    .skills .right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 12px;
    }

    .skills .right .item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .skills .right .item i {
        font-size: 34px;
        color: #fff;
    }


/* Footer styles */
footer {
    background: #1c1c1c;
    padding: 40px 50px;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-name h3 {
    color: #ffb742;
    margin: 0;
    font-size: 20px;
    text-decoration: none;
}

/* Socials section */
.footer-socials {
    display: flex;
    gap: 20px;
}

.footer-socials a img {
    width: 40px; 
    height: auto;
    transition: opacity 0.3s ease;
}

.footer-socials a img:hover {
    opacity: 0.8;
}

/* Mobile View */
@media screen and (max-width: 650px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-socials {
        margin-top: 10px;
        justify-content: center;
    }
}


@media screen and (max-width: 480px) {
    .main p.title {
        font-size: 18px;
    }

    .main p.subtitle {
        font-size: 10px;
    }

    .guarantee .item .info h3 {
        font-size: 20px;
    }

    .guarantee .item .info p {
        font-size: 12px;
    }
}